<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="HTML, CSS">
  <meta name="author" content="Giovanni">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gigachat</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="login-body">
  <div class="login-container">
    <header>
      <h1 class="logo-login"> gigachat</h1>
    </header>
    <form class="login-form">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <nav>
        <button type="button">Login</button>
      </nav>
    </form>
  </div>
  <footer class="footer">
    &copy; 2023 GiGAChat. All rights reserved.
    <span>Giovanni I.</span>

  </footer>
</body>

</html>